*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}


body{
    height: 200vh;

}

header{
    position: fixed;
    width: 100%;
    height: 12%;
    top: 0;
    left: 0;
    background-color: rgba(92, 92, 92, 0.216);
    border-bottom: 1px solid rgb(208, 208, 208);
    font-size: 24px;
    transition: 0.2s;
}

nav a:hover{
    color: #e62b4a;
    transition: 0.2s;
}

.sticky{
    position: fixed;
    width: 100%;
    height: 10%;
    transition: 0.5s;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(208, 208, 208);
    background-color: black;
    font-size: 20px;
    z-index: 100;
}

/* flex: vào thẻ cha để di chuyển thẻ con */
.header_container{
    /* display: flex đưa các thẻ con lên trục chính */
    display: flex;
    height: 80px;
    /*mặc định trục chính là chiều ngang*/
    /*justify-content: trục chính*/
    justify-content: space-between;
    align-items: center;
    /* align-items: end; */
    /* flex-direction: thay đổi chiều của trục chính*/
    /*flex-direction: column;*/
}

.container{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.header_container a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.header_container a.active{
    color: rgb(203, 0, 0);
}

.header_container a.active:hover {
    color: wheat;
}

.header_container .logo{
    font-size: 24px;
    color: white;
    font-weight: 1000;
}

/* end header */

/* stare banner */
.banner{
    background-image: url(./image-video/home_slider.jpg);
    height: 90vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_container {
    width: 40%;
    text-align: center;
    color: white;
}

.banner_container p{
    font-size: 30px;
}

.banner_container h2{
    font-size: 70px;
    font-weight: 700;
    margin: 30px 0;
}

.banner_container button{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 15px 35px;
    border-style: none;
    background-color: rgb(225, 15, 67);
    cursor: pointer;
}

.banner_container button:hover{
    background-color: rgb(146, 0, 37);
    transition: 0.3s;
}

.banner_container i {
    font-size: 50px;
    animation-name: animated_arrow1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animated_arrow1{
    from{
        transform: translateY(20px);
        opacity: 1;
    }
    to{
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes animated_arrow2 {
    0%{
        color: orange;
        transform: translateY(20px);
    }
    50%{
        color: red;
    }
    100%{
        color: white;
        transform: translateY(100px);
        opacity: 0.5;
    }
}

/* Start carousel */

.carousel {
    padding: 80px;
    background: #000;
    color: white;
}

.item_container i{
    font-size: 50px
}

.carousel_title{
    text-align: center;
    margin-bottom: 50px;
}

.carousel_title h3{
    color: #e62b4a;
    font-size: 15px;
    font-weight: lighter;
}

.carousel_title h2, h3, p{
    padding: 5px;
}

.carousel_title h2 {
    font-size: 45px;
    font-weight: 400;
}

.carousel_title p {
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    margin-top: 20px;
}

.carousel_list .carousel_item{
    height: 250px;
    padding: 0 10px;
    font-weight: 300;
}

.item_container{
    background-color: white;
    color: #888888;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.item_container::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #e62b4a;
    top: -100%;
    right: 0;
    transition: 0.3s;
}

.slick-dots {
    bottom: -40px
}

.slick-dots li.slick-active button::before{
    color: red;
}

.slick-dots li button::before{
    color: white;
    font-size: 15px;
    opacity: 0.75;
}

.item_container:hover::before{
    top: 0;
}

/* starts blogs */

.blogs{
    padding: 80px 0;
}

.desc {
    text-align: center;
    margin: 0 200px;
}

.desc h3{
    font-size: 40px;
}

.desc p{
    color: #888888;
}

.desc p, h3{
    padding: 10px;
}

.blogs_list{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.blogs_list img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
}

.blogs_item{
    position: relative;
}

.item_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: 0.5s;
}

.blogs_item:hover .item_overlay{
    opacity: 1;
}

.overlay_tittle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transform: translateY(30px);
    transition: 0.5s;
}

.blogs_item:hover .overlay_search,
.blogs_item:hover .overlay_tittle{
    transform: translate(0px);
}

.overlay_search{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    background: #ffffff;
    text-align: center;
    line-height: 30px;
    transform: translateY(30px);
    transition: 0.5s;
}

.overlay_search a{
    color: black;
}

.blogs_item.item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.blogs_item.item-2{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

/* start number */

.number{
    background: #000;
    color: #fff;
    padding: 80px 0;
}

.number_container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.number_item h3{
    font-size: 70px;
    font-weight: lighter;
}

/* start experience */
.experience{
    background-image: url(./image-video/bussiness_img_1.jpg);
    padding: 80px 0;
    background-size: cover;
    background-attachment: fixed;
}

.experience video{
    width: 100%;
}

.experience_tittle{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 200px;
}

.experience_tittle h3{
    color: #e62b4a;
    font-weight: lighter;
    font-size: 15px;
}

.experience_tittle h2{
    font-size: 50px;
    color: white;
    font-weight: 500;
}

.experience_tittle p{
    color: #888888;
    font-weight: bold;
    padding-top: 20px;
}


/* start contact */
.contact{
    padding: 80px 0;
}

.container_content {
    display: flex;
    width: 100%;
}

.contact_tittle{
    text-align: center;
    padding: 0 25%;
}

.contact_tittle h2{
    font-size: 50px;
}

.contact_tittle p{
    font-size: 16px;
    color: #888888;
    padding: 20px 0;
    font-weight: 600;
}

.contact_map{
    width: 60%;
    height: auto;
}

.contact_form{
    width: 40%;
    height: auto;
}

iframe{
    width: 100%;
    height: 100%;
}

input{
    font-size: 15px;
    height: 50px;
    padding: 15px;
    margin: 15px 15px;
}

form .top{
    margin-top: 0;
}

textarea{
    font-size: 15px;
    padding: 15px;
    margin: 15px 15px;
}

form button{
    margin: 10px 15px 0 15px;
    border: none;
    color: white;
    background-color: #000;
    padding: 20px 40px;
    cursor: pointer;
}

form button:hover{
    background-color: #e62b4a;
    color: white;
    transition: 0.3s;
}


form{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

/* start footer */
footer{
    background: #000;
    color: #fff;
    padding: 80px 0;
}

footer h3{
    font-size: 15px;
    font-weight: 400;
}

.icon a{
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 20px;
    border-radius: 50px;
    margin: 5px;
}

.icon a:hover{
    background-color: #e33956;
    transition: 0.3s;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

#backtop{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}